version: "3.9"
services:
  db:
    image: postgres:17
    restart: always
    shm_size: 128mb
    environment:
      POSTGRES_PASSWORD: example
  nats:
    image: nats:2.11.0
    command: "--js"
  migrator:
    image: kannon
    command: "migrate main --config /kannon.yaml"
    volumes:
      - ./kannon.yaml:/kannon.yaml
    restart: on-failure
    depends_on:
      - db
  kannon:
    image: ghcr.io/kannon-email/kannon/kannon
    restart: always
    command: "--config /kannon.yaml"
    volumes:
      - ./kannon.yaml:/kannon.yaml
    ports:
      - "50051:50051"
    depends_on:
      - db
      - nats
      - migrator
