name: CI

on:
  push:
    branches:
      - '**'
    tags:
      - 'v*'
  pull_request:
    branches: ['*']

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Log in to the Container registry
        uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Get Vars
        id: get_vars
        run: |
          echo "::set-output name=ts::$(date +%s)"
          echo "::set-output name=sha::$(git rev-parse --short HEAD)"
          echo "::set-output name=branch::$(git rev-parse --abbrev-ref HEAD)"
      - name: Build Kannon
        uses: ./.github/actions/build-docker
        with:
          docker-target: kannon
          branch: ${{ steps.get_vars.outputs.branch }}
          sha: ${{ steps.get_vars.outputs.sha }}
          ts: ${{ steps.get_vars.outputs.ts }}
      - name: Build Main DB migrations
        uses: ./.github/actions/build-docker
        with:
          docker-target: migrator-db
          branch: ${{ steps.get_vars.outputs.branch }}
          sha: ${{ steps.get_vars.outputs.sha }}
          ts: ${{ steps.get_vars.outputs.ts }}
      - name: Build Stats DB migrations
        uses: ./.github/actions/build-docker
        with:
          docker-target: migrator-stats
          branch: ${{ steps.get_vars.outputs.branch }}
          sha: ${{ steps.get_vars.outputs.sha }}
          ts: ${{ steps.get_vars.outputs.ts }}
