name: Release Drafter

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, reopened, synchronize]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
    update_release_draft:
      runs-on: ubuntu-latest
      permissions:
        contents: read
      steps:
        - uses: release-drafter/release-drafter@v6
          env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}